.bibliodata a.wikidata {
    padding-right: 2.5em;
    padding-left: 0.2em;
    background-image: url('Wikidata-logo.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.bibliodata a.wikidata:hover { background-color: rgba(153, 0, 0, 0.18) }

.bibliodata .editions,
.bibliodata .editions ol {  padding: 0; margin:0 }
.bibliodata .editions .edition { list-style-type:none; border:1px solid #0b0b0b; margin:1em 0; padding:0.5em }
.bibliodata .editions .edition.new { background-color: rgba(70, 181, 177, 0.34) }
